<!-- <li class='ui-state-default list-item'>
  <div data-method='faves_card' data-name='" + faves[i]['name'] + 
        											"'data-date='" + faves[i]['created_at'] + 
        											"'data-id='" + faves[i]['id'] + "'>
    <p class='name'><i class='fa fa-th'></i>" + faves[i]['name'] + "</p>
  </div>
 
  <div class='band_photo_box' data-name='" + faves[i]['name'] + "' data-date='" + faves[i]['created_at'] + "' data-id='" + faves[i]['id'] +
          "'>
    <p><div title='Click for details' class='band_photo' data-id='" + faves[i]['id'] +
           "'>" + "
          <img src='" + faves[i]['image'] + "'></div></p>" +
    </div>

        if (faves[i]['on_tour'] == "null" || faves[i]['on_tour'] == ""){
                $(favorite_card).append("<div data-id='" + faves[i]['id'] + "' class='on_tour_box'>" + faves[i]['name'] + " - not currently on tour.</div>");
              } else {
                $(favorite_card).append("<div data-id='" + faves[i]['id'] + "' class='on_tour_box'>" + faves[i]['name'] + " is on tour until " + faves[i]['on_tour'] + "!<br>" +
                                        "<div class='tour_dates_link'><a href='" +
                                          faves[i]['tour_dates'] + "' target='_blank'>Click for tour dates and locations</a>.</div></div> -->
             <!-- news and blogs -->
<!--   <div data-id='" + faves[i]['id'] + "' class='news_box' data-id='" + faves[i]['name'] +
          "'>Recent news stories tagged with " + faves[i]['name'] + ":<br>" +
           "&#8226;<a href='" + faves[i]['news'] + "' target='_blank'>" + faves[i]['news1'] + "</a><br>" +
           "&#8226;<a href='" + faves[i]['newsa'] + "' target='_blank'>" + faves[i]['news1a'] + "</a><br><br>" +
           "Recent blog posts featuring " + faves[i]['name'] + ":<br>" +
           "&#8226;<a href='" + faves[i]['blogs'] + "' target='_blank'>" + faves[i]['blogs1'] + "</a><br>" +
           "&#8226;<a href='" + faves[i]['blogsa'] + "' target='_blank'>" + faves[i]['blogs1a'] + "</a><br></div>" +
           "<div data-id='" + faves[i]['id'] + "' class='links_box'><p><a href='" + faves[i]['urls'] + "' target='_blank'>" + faves[i]['name'] + "'s offical website</a>.</p>" +
           "<p><a href='" + faves[i]['urls1'] + "' target='_blank'>" + faves[i]['name'] + " on Last.fm</a>.</p>" +
           "<p><a href='" + faves[i]['urls2'] + "' target='_blank'>Follow " + faves[i]['name'] + " on Twitter</a>.</p></div>" +
           "<br><div class='remove_favorite' data-method='delete' data-id='" + faves[i]['id'] +
           "'>Remove</div>" +
           "</div>
          "</li></div>

       -->