
<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<hr>
<!-- <div class="blocks"> -->
  <div id="bands_results">
    <div class="loading">
        loading
    </div>
  </div>

<!-- </div> -->


<div class="flash_success">

</div>