<h1>This is the BandHub</h1>

<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="main_search">
    <input id="search_bands" type="text" placeholder="i.e. Vampire Weekend" class="search_bar"/>
    <button id="bigDaddySearch">Search!</button><br>
    <button id='see_favorites'>View Your BandHub Page</button>
  </div>

<hr>
<!-- <div class="blocks"> -->
  <div id="bands_results">

  </div>

<!-- </div> -->


<div class="flash_success">

</div>