("<div data-id='" + faves[i]['id'] + "' class='on_tour_box'>" + faves[i]['name'] + " is on tour until " + faves[i]['on_tour'] + "!<br>" +
     "<div class='tour_dates_link'><a href='" +
      faves[i]['tour_dates'] + "' target='_blank'>Click for tour dates and locations</a>.</div></div>")