/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.search_list_item, .searchlist li {
  transition: all 0.3s ease;
  text-decoration: none;
}

.search_list_item:hover, .searchlist li:hover {
  background-color: lightgray;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.band_photo_box p {
  text-align: center;
  font-size: 22px;
}

.results_div {

}

.band_photo {
  height: 200px;
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.success_message {
  width: 65%;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 3px;
  text-align: center;
  color: darkred;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}

.devise {
  float: right;
  /*background-color: lightgray;*/
}

.favorite_card, .results_div {
  float: left;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  margin: 15px;
  width: 320px;
  height: auto;
}

