/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0px;
}

body, .alert, .notice {
  font-family: 'Raleway', sans-serif;
  background-color: #990021;
}

header {
  margin-top: 50px;
}

button {
  font-family: 'Raleway', sans-serif;
}

li {
  margin-bottom: 8px;
}

#see_favorites, .remove_favorite {
  letter-spacing: 4px;
  outline: none;
}


/*----easing for all links------*/
a, .sort_by a, #bigDaddySearch, #see_favorites, .refresh, #add_favorite, .remove_favorite,
.on_tour_box a, .links_box a, .news_box a, .devise a, #hamburger, .bio a, .about-link {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.on_tour_box a, .links_box a, .news_box a {
  color: #6b6b6b;
}


/*----hover color for all links---------*/
.sort_by a:hover, .on_tour_box a:hover, .links_box a:hover, .news_box a:hover,
.devise a:hover, .bio a:hover, .about-link a:hover, .about-link:hover {
  /*color: #6DA12E;*/
  color: #2287B5;
  text-decoration: none;
}

.devise a {
  color: #6b6b6b;
}

.sort_by a {
  color: #74AC31;
}

.alert {
  display: none;
}

/*.alert, .notice {
  background-color: #990021;
  color: white;
  border: none;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Numans";
}*/



 .subtitle {
    color: #000;
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0 0;
    letter-spacing: 10px;
  }

  .sub-subtitle {
    color: #000;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 22px;
    letter-spacing: 3px;
  }


/*----------fixed top bar--------*/

.title {
  cursor: pointer;
  font-size: 36px;
  padding-top: 10px;
  font-family: 'Krona One', sans-serif;
  color: #c0d380 !important;
  display: inline;
}

.devise {
  color: #c0d380;
  padding: 10px 10px 0 0;
  text-align: right;
}

.devise_form input[type="submit"] {
  margin-top: 10px;
}

.devise2 {
  display: none;
}

.search-input-group {
  margin: 10px 0;
  width: 85%;
}
#search_bands {
  height: 40px;
}
#search_bands, #bigDaddySearch {
  font-size: 20px;
  border: 0;
  border-radius: 0 !important;
}
#bigDaddySearch, #see_favorites, .remove_favorite {
  background-color: #74AC31;
  border: 0;
  border-radius: 0 !important;
  color: white;
  white-space: normal;
}

#see_favorites:hover, .remove_favorite:hover, #add_favorite:hover {
   box-shadow: 0px 0px 12px #74AC31;
}

/*the nothing entered in the search field message*/
.its-required {
  color: red;
  padding: 0 5px;
  font-size: 20px;
  margin: -30px 0px 0px 100px;
  position: absolute;
}

.devise_form a {
  color: darkgray;
}

.devise_form a:visited {
  color: darkgray;
}

.devise_form a:hover {
  color: #2287B5;
}

.devise img {
  margin: 2px 0px 0px 1px;
  float: right;
}

/*to organize nav collapse menu toggle & brand link for small*/
.navbar-toggle {
  z-index: 10000;
}
.container-fluid>.navbar-header {
float: right;
}

/*-------------DEVISE FORMS--------*/

.devise_form {
  margin: 75px auto 0;
  display: block;
  width: 30%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

  background: rgba(182,202,114,1);
  background: -moz-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,202,114,1)), color-stop(100%, rgba(241,255,191,1)));
  background: -webkit-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -o-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: linear-gradient(to bottom, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6ca72', endColorstr='#f1ffbf', GradientType=0 );

  padding: 5px 15px 5px;
}

.devise_form h1 {
  font-size: 22px;
}

.devise_form label {
  font-size: 18px;
  margin-bottom: -20px;
}


/*--------------LOADING SPINNER-------------*/
#loading {
  display: block;
  margin: 100px auto;
}
.spinner {
  margin: 0 auto;
  display: block;
}

/*--------------SIDE BAR---------------------*/
#hamburger {
  float: left;
  margin: 75px 0 0 20px;
  position: fixed;
  color: #000;
  z-index: 100;
}

#hamburger:hover {
  color: #2287B5;
}

#secondary {
  background: rgba(0, 0, 0, 0.7);
  overflow: scroll;
}

.horns {
  height: 70px;
  margin: 15% auto -42px auto;
  cursor: pointer;
  display: block;
}


.pageslide_links {
  padding: 15px;
  font-size: 18px;
}

#see_favorites {
  width: 90%;
  margin: 36% 0 10px 10px;
  font-size: 15px;
}

.see_favorites_button_div {
  clear: both;
  margin-top: -80px;
}

.stc {
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 25px;
  margin: 0 0 15px 5px;
}
.sort_by {
  list-style-type: none;
  text-indent: -20px;
}
.api_attributes {
  margin-top: 20px
}
.api_attributes img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.devise2 {
  display: none;
  text-align: center;
}
@media (max-width: 766px) {
  .devise2 {
    display: block;
  }
}

/*the section at the bottom of the slidebar*/
.bio-snippet {
  text-align: center;
  margin-top: 10px;
}
.about-link {
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.about-modal {
  color: #000;
  font-size: 20px;
  padding: 30px 20px;
}
.modal-dialog {
  width: 600px;
  margin-top: 150px;
}

/*----------band search results page--------------------*/
#container {
  max-width: 1170px;
  margin-top: 50px;
}

.concert {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  width: 400px;
}

.band_photo_box p {
  text-align: center;
  font-size: 22px;
}

/*not working yet*/
/*.flash_success {
  font-size: 25px;
  top: 10px;
  left: 400px;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  border: 2px solid blue;
}
.the-success-msg {
  font-size: 30px;
  background: lightblue;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100000;
}*/


 /*--------the search results card ---------*/
.empty-corall-msg {
  text-align: center;
  margin-top: 2em;
  font-size: 3em;
  letter-spacing: 0.25em;
}

.no-results {
  width: 75%;
  margin: 3em auto;
  border-radius: 3px;
  background: #F2F3F4;
  color: #990000;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 0.125em;
  padding: 0.25em 0.75em;
}

.results_container {
  position: relative;
  margin: 5% auto;
  width: 35%;
  height: 250px;
}

.results_card {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: auto;
  font-family: "Krona One";
  font-size: 26px;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 10px;

  background: rgba(182,202,114,1);
  background: -moz-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,202,114,1)), color-stop(100%, rgba(241,255,191,1)));
  background: -webkit-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -o-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: linear-gradient(to bottom, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6ca72', endColorstr='#f1ffbf', GradientType=0 );
}

.results-card p {
  margin-top: 15%;
}
.results_img {
  margin-bottom: 15px;
  width: 80% !important;
  height: auto;
}

#add_favorite {
  width: 100%;
  background-color: #74AC31;
  color: #191919;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  bottom: 0;
  clear: both;
}
/*//////end of results card /////////*/

.band_photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px 0 10px;
}

.band_photo_box {
  margin-top: 15px;
}
.band_photo_box img {
  height: 200px;
  width: auto;
}

/*// not working currently//*/
.success_message {
  width: 65%;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 3px;
  text-align: center;
  color: darkred;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}


/*---------favorites display-----------*/
/* .list-item was formerly .favorite_card - changed for jquery ui functionality*/
.list-item {
  float: left;
  margin: 25px;
  width: 300px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.5);

  background: rgba(182,202,114,1);
  background: -moz-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,202,114,1)), color-stop(100%, rgba(241,255,191,1)));
  background: -webkit-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -o-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  background: linear-gradient(to bottom, rgba(182,202,114,1) 0%, rgba(241,255,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6ca72', endColorstr='#f1ffbf', GradientType=0 );
}

.band_photo img {
  border-radius: 3px;
  max-width: 100%;
  cursor: pointer;
}

.name {
  font-size: 20px;
  margin: 10px 0 -5px;
}

/*the drag gripper*/
.fa-th {
  color: gray;
  float: left;
  cursor: move;
  margin: -5px 0 0 5px;
}

.on_tour_box {
  font-weight: bold;
}

.on_tour_box, .links_box {
  margin-bottom: 10px;
  background-color: #F3F6FA;
  width: 100%;
}

.on_tour_box, .links_box, .news_box {
  padding: 6px 10px 10px 14px;
  display: none;
}

.on_tour_box:hover a, .links_box:hover a, .news_box:hover a {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.links_box {
  margin-top: 8px;
  margin-bottom: 0;
}

.remove_favorite {
  padding: 5px;
  text-align: right;
  cursor: pointer;
}



/*----------RESPONSIVE MEDIA-----------*/
@media (min-width: 700px) and (max-width: 1000px) {

/*  .container {
    width: 80%;
    padding-top: 60px;
  }

  .topbar {
    height: 115px;
  }
*/
/*  .title {
    width: 100%;
    padding-bottom: 5px;
    cursor: pointer;
  }
*/

/*  .nav_title {
    margin: 0 100% 0 33%;
    letter-spacing: 30px;
  }
*/
/*  .main_search {
    width: 50%;
    float: left;
  }
*/
/*  .devise {
    width: 45%;
    float: right;
  }
*/


  .concert {
    padding-top: 50px;
  }

  .subtitle {
    line-height: 35px;
  }

  #hamburger {
    margin-top: 75px;
  }

}

/* -------for jquery-ui autocomplete-----------*/
/*.ui-autocomplete-loading {
  background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-widget { margin-top:20px}

#log {
  height: 24px;
  height: autox;
  width: 532px;
  overflow: auto;
}
*/



/*@media (max-width: 360px) {

  .container {
    padding-top: 50px;
    width: 85%;
  }

  .topbar {
    height: 110px;
    margin: 0 0 0 -20px;
  }

  .title {
    width: 100%;
    padding-bottom: 5px;
  }

  .nav_title {
    margin: 0 100% 0 5%;
    letter-spacing: 13px;
  }

  .main_search {
    width: 90%;
    float: left;
  }

  .devise {
    display: none;
  }

  .devise2 {
    display: block;
  }

  #search_bands {
    height: 20px;
    font-size: 17px;
  }

  #bigDaddySearch {
    height: 35px;
  }

  .concert {
    padding-top: 100px;
  }

  .subtitle {
    line-height: 35px;
  }

  #hamburger {
    margin: 75px 0 0 -10px;
  }

  .devise2 {
    display: block;
    padding: 15px;
    text-align: center;
  }

  .favorite_card {
    width: 100%;
  }

  .on_tour_box, .links_box {
    width: 90.7%;
  }

}*/

