/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.search_list_item, .searchlist li {
  transition: all 0.3s ease;
  text-decoration: none;
}

.search_list_item:hover, .searchlist li:hover {
  background-color: lightgray;
}

.band_photo {
  height: 200px;
  width: 300px;
}

.devise {
  float: right;
  /*background-color: lightgray;*/
}

.favorite_card {
  float: left;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  width: 320px;
  height: 450px;
}

