/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
}

body, .alert, .notice {
  font-family: 'Numans', sans-serif;
  background-color: #990021;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

header {
  margin-top: 50px;
}

button {
  font-family: 'Numans', sans-serif;
}

li {
  /*list-style-type: none;*/
}

#see_favorites, .remove_favorite {
  letter-spacing: 4px;
  outline: none;
}


a {
  transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out; /* Opera */
  text-decoration: none;
}

a:hover {
  color: #2287B5;
  text-decoration: none;
}

.alert {
  display: none;
}

.alert, .notice {
  background-color: #990021;
  color: white;
  border: none;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Numans";
}


/*----------fixed top bar--------*/

.topbar {
  margin: 0px 0 0 -10px;
  width: 102%;
  background: #2f2f2f;
  background: rgba(0, 0, 0, 0.86);
  height: 54px;
  font-size: 17px;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 30px #5E5E5E;
  z-index: 1000;
}

.nav_title {
  font-size: 36px;
  padding: 20px 0 0 30px;
  margin-top: 0;
  float: left;
  font-family: 'Krona One', sans-serif;
  color: #cccccc;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.searchbar_and_button {
  float: left;
  margin: 8px 0px 0px 12%;
}

.search_bar {
  float: left;
}

#search_bands {
  height: 25px;
  width: 300px;
  font-size: 20px;
  padding: 6px 0 6px 12px;
}

#bigDaddySearch {
  height: 39px;
  margin-left: -3px;
  border: 0px;
}

#bigDaddySearch, #see_favorites, .remove_favorite, #add_favorite {
  background-color: #74AC31;
  color: white;
}

.devise {
  float: right;
  color: #cccccc;
  padding: 10px 40px 0 0;
}

.devise a:visited {
  color: #cccccc;
}

.devise a:hover {
   color: #2287B5;
 }

.devise img {
  margin: 2px 0px 0px 1px;
}

/*-------------DEVISE FORMS--------*/

.devise_form {
  margin: 30px auto 0 auto;
  display: block;
  width: 30%;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, #B4C7E0),
    color-stop(1, #E3EAF3)
  );
  background-image: -o-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -moz-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -webkit-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -ms-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: linear-gradient(to bottom, #B4C7E0 16%, #E3EAF3 100%);

  border-radius: 5px;
  padding: 15px;
}

.devise_form h1 {
  font-size: 26px;
}

.devise_form label {
  font-size: 20px;
  margin-bottom: -10px;
}

/*---------main header banner----------*/
/*.title {
  float: left;
  font-size: 52px;
  letter-spacing: 14px;
  margin: 0;
  font-family: 'Krona One', sans-serif;
  float: left;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  color: #090A0B;
  opacity: 0.75;
}
*/


/*--------------SIDE BAR---------------------*/

#hamburger {
  float: left;
  margin: 20px 0 0 20px;
}

.horns {
  height: 70px;
  margin: 15% auto -42px auto;
}

.pageslide_links {
  padding: 15px;
  font-size: 18px;
}

#see_favorites {
  width: 90%;
  margin: 36% 0 10px 10px;
  border-radius: 10px;
  font-size: 15px;
}

.see_favorites_button_div {
  clear: both;
}

.stc {
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 25px;
  margin: 0 0 8px 15px;
  text-align: center;
}


/*----------band show page--------------------*/
.container {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 87%;

}

.search_list_item, .searchlist li {
  background: #2f2f2f;
  background: rgba(0, 0, 0, 0.86);
  color: #fff;
  padding: 18px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  width: 60%;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out; /* Opera */
  text-decoration: none;
}

.search_list_item:hover, .searchlist li:hover {
  background-color: #303030;
  color: #A0A0A0;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.band_photo_box p {
  text-align: center;
  font-size: 22px;
}

 /*--------the card flip action---------*/

#flip_container {
  position: relative;
  margin: 10px auto;
  width: 30%;
  height: 250px;
  z-index: 1;

  padding: 15px;
}

#flip_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#flip_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.5s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 0.5s linear;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

#flip_container:hover #flip_card, #flip_container.hover_effect #flip_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

}

.face {
  position: absolute;
  width: 95%;
  height: 100%;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, #B4C7E0),
    color-stop(1, #E3EAF3)
  );
  background-image: -o-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -moz-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -webkit-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -ms-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: linear-gradient(to bottom, #B4C7E0 16%, #E3EAF3 100%);

  border-radius: 5px;
  font-family: "Krona One";
  padding: 15px;
  font-size: 30px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  letter-spacing: 7px;
  line-height: 120%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face p {
  margin-top: 50px;
}

.face.back {
  display: block;
    -webkit-transform: rotateY(180deg);
    -webkit-box-sizing: border-box;
    -moz-transform: rotateY(180deg);
    -moz-box-sizing: border-box;
    -o-transform: rotateY(180deg);
    -o-box-sizing: border-box;
    transform: rotateY(180deg);
    box-sizing: border-box;
  padding: 10px;

  width: 100%;
  height: 110%;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, #B4C7E0),
    color-stop(1, #E3EAF3)
  );
  background-image: -o-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -moz-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -webkit-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -ms-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: linear-gradient(to bottom, #B4C7E0 16%, #E3EAF3 100%);
}

/*//////end flip action/////////*/

.band_photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px 0 10px;
}

.band_photo_box {
  margin-top: 15px;
}

#add_favorite {
  margin-top: 8px;
}

.success_message {
  width: 65%;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 3px;
  text-align: center;
  color: darkred;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}


/*---------favorites display-----------*/

.favorite_card {
  float: left;
  border-radius: 3px;
  padding: 0 0 15px 0;
  margin: 25px 20px 15px 15px;
  width: 320px;
  height: auto;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.16, #B4C7E0),
    color-stop(1, #E3EAF3)
  );
  background-image: -o-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -moz-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -webkit-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: -ms-linear-gradient(bottom, #B4C7E0 16%, #E3EAF3 100%);
  background-image: linear-gradient(to bottom, #B4C7E0 16%, #E3EAF3 100%);
}


.favorite_card img {
  border-radius: 4px;
}


.on_tour_box {
  font-weight: bold;
}

.on_tour_box, .links_box {
  margin-bottom: 10px;
  background-color: #F3F6FA;
  width: 92.2%;
  /*padding: 10px 0 3px 0;*/
}

.on_tour_box, .links_box, .news_box {
  padding: 6px 10px 10px 15px;
  display: none;
}

.links_box {
  margin-top: 8px;
  margin-bottom: 0;
}

.remove_favorite {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
  border-radius: 5px;
}

/*----------responsive media-----------*/

@media (min-width: 425px) and (max-width: 700px) {

}

@media (max-width: 425px) {

}